<launch>

  <!-- Vehicle Contorl -->
  <!--include file="$(find runtime_manager)/launch_files/vehicle_socket.launch"/-->

  <!-- obstacle_avoid -->
  <include file="$(find waypoint_planner)/launch/astar_avoid.launch"/>

  <!-- velocity_set -->
  <include file="$(find waypoint_planner)/launch/velocity_set.launch"/>

  <!-- pure_pursuit -->
  <include file="$(find startingup_ros)/launch/encap_launch/pure_pursuit.launch" />

  <!-- twist_filter -->
  <include file="$(find twist_filter)/launch/twist_filter.launch"/>

</launch>
